[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

pytest = "*"
pytest-mock = "*"
flake8 = "*"
isort = "*"
pytest-cov = "*"
tox = "*"
pyqt5-stubs = "*"
mypy = "*"
flake8-bugbear = "*"
flake8-pyi = "*"
wily = "*"


[packages]

beautifulsoup4 = "*"
pyqt5 = "==5.12.3"


[scripts]

cov_all = "pytest --cov=movie_plist"


[requires]

python_version = "3.7"
