[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-pyi = "*"
isort = "*"
mypy = "*"
pyqt5-stubs = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
tox = "*"
wily = "*"

[packages]
beautifulsoup4 = "*"
pyqt5 = "==5.15.9"

[requires]
python_version = "3.7"

[scripts]
cov_all = "pytest --cov=movie_plist"
